{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="img/hero.jpg"></div>

<div class="container-fluid tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            About Software Catalog Website
        </h2>
    </div>
    <div class="row tm-mb-74 tm-row-1640">
        <div class="col-lg-5 col-md-6 col-12 mb-3">
            <img src="img/about.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-7 col-md-6 col-12">
            <div class="tm-about-img-text">
                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Orci a scelerisque purus semper. Nullam ac tortor vitae purus
                    faucibus ornare suspendisse sed. Nulla aliquet enim tortor at. Senectus et netus et malesuada
                    fames ac turpis. Nibh tellus molestie nunc non blandit. Etiam erat velit scelerisque in dictum
                    non consectetur. In aliquam sem fringilla ut. Nulla pellentesque dignissim enim sit amet
                    venenatis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Bibendum est ultricies
                    integer quis auctor elit. Fusce id velit ut tortor pretium viverra suspendisse. Et leo duis ut
                    diam quam. In hendrerit gravida rutrum quisque non. Ut tristique et egestas quis ipsum.

                    Tristique senectus et netus et malesuada. Id faucibus nisl tincidunt eget nullam. Semper quis
                    lectus nulla at volutpat diam ut venenatis tellus. Amet massa vitae tortor condimentum lacinia
                    quis. Sit amet facilisis magna etiam. Eget felis eget nunc lobortis mattis aliquam faucibus
                    purus. Venenatis a condimentum vitae sapien. Augue lacus viverra vitae congue eu consequat ac.
                    Maecenas ultricies mi eget mauris pharetra et ultrices neque. Rutrum tellus pellentesque eu
                    tincidunt tortor. Purus gravida quis blandit turpis. Ut sem viverra aliquet eget sit amet tellus
                    cras. Porttitor rhoncus dolor purus non enim. Sit amet venenatis urna cursus eget nunc
                    scelerisque viverra. Tincidunt nunc pulvinar sapien et ligula. Dignissim cras tincidunt lobortis
                    feugiat vivamus at.

                    Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Arcu dui vivamus arcu felis
                    bibendum ut tristique. Quam lacus suspendisse faucibus interdum posuere lorem. In eu mi bibendum
                    neque egestas. Porttitor lacus luctus accumsan tortor posuere ac ut. Eget gravida cum sociis
                    natoque penatibus. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Faucibus ornare
                    suspendisse sed nisi lacus. Sem fringilla ut morbi tincidunt augue interdum velit euismod in.
                    Quam lacus suspendisse faucibus interdum. Lacus suspendisse faucibus interdum posuere lorem
                    ipsum dolor. Lacus sed viverra tellus in. Nisl nunc mi ipsum faucibus vitae aliquet nec
                    ullamcorper.

                    Faucibus a pellentesque sit amet. Elementum curabitur vitae nunc sed velit dignissim sodales.
                    Viverra mauris in aliquam sem fringilla ut morbi. Arcu cursus vitae congue mauris rhoncus aenean
                    vel elit scelerisque. Morbi enim nunc faucibus a pellentesque sit. Nisl nunc mi ipsum faucibus.
                    Tellus rutrum tellus pellentesque eu tincidunt. Sem fringilla ut morbi tincidunt augue. Purus in
                    massa tempor nec feugiat nisl pretium fusce. Magna ac placerat vestibulum lectus mauris ultrices
                    eros. Vitae et leo duis ut diam quam nulla porttitor massa. Fermentum posuere urna nec tincidunt
                    praesent semper. Justo eget magna fermentum iaculis eu non. Quam lacus suspendisse faucibus
                    interdum. Lorem mollis aliquam ut porttitor leo a diam. Mi in nulla posuere sollicitudin
                    aliquam.

                    Tristique risus nec feugiat in fermentum. Nisl nisi scelerisque eu ultrices vitae auctor eu.
                    Eros donec ac odio tempor orci. Amet commodo nulla facilisi nullam vehicula ipsum. Tortor vitae
                    purus faucibus ornare suspendisse sed nisi lacus sed. Vitae suscipit tellus mauris a diam.
                    Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus. Nisi porta lorem
                    mollis aliquam ut. Pharetra et ultrices neque ornare aenean. Augue mauris augue neque gravida.
                    <!-- <p>
                        Credits go to Pexels and Unsplash for photos and video used in this template. Catalog-Z is free
                        <a rel="sponsored" href="https://v5.getbootstrap.com/">Bootstrap 5</a> Alpha 2 HTML Template
                        designed for video and photo websites.
                    </p>
                    <p>You are <b>allowed</b> to use this template for your commercial or non-commercial websites. You
                        can integrate it with any kind of CMS website. You are <b>NOT allowed</b> to redistribute the
                        downloadable template ZIP file on any template collection website. Please <a rel="nofollow"
                            href="https://templatemo.com/contact" target="_parent">contact us</a> for more information.
                        Thank you.</p> -->
            </div>
        </div>
    </div>
    <div class="row tm-mb-50">
        <div class="col-md-6 col-12">
            <div class="tm-about-2-col">
                <h2 class="tm-text-primary mb-4">
                    Left side of 2-Column content
                </h2>
                <p class="mb-4">
                    Pellentesque urna odio, scelerisque eu mauris vitae, vestibulum sodales neque. Ut augue justo,
                    tincidunt nec aliquet ac, cursus vel augue. Suspendisse vel quam imperdiet, sodales tellus sed,
                    ullamcorper lorem.
                </p>
                <p>
                    Suspendisse id consequat risus. Aliquam varius posuere nunc, nec imperdiet neque condimentum at.
                    Aenean porta eleifend venenatis. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="tm-about-2-col">
                <h2 class="tm-text-primary mb-4">
                    Right-side Title goes here
                </h2>
                <p class="mb-4">
                    Pellentesque urna odio, scelerisque eu mauris vitae, vestibulum sodales neque. Ut augue justo,
                    tincidunt nec aliquet ac, cursus vel augue. Suspendisse vel quam imperdiet, sodales tellus sed,
                    ullamcorper lorem.
                </p>
                <p>
                    Suspendisse id consequat risus. Aliquam varius posuere nunc, nec imperdiet neque condimentum at.
                    Aenean porta eleifend venenatis. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus.
                </p>
            </div>
        </div>
    </div> <!-- row -->
    <div class="row tm-mb-50">
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-desktop fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">Three-column title one</h2>
                <p class="mb-4">Integer tristique arcu scelerisque mauris posuere convallis. Fusce egestas ipsum
                    sapien, hendrerit ultricies nisi viverra eget. Vestibulum in tortor eget elit rutrum interdum.
                </p>
                <p>Cras auctor velit urna, et feugiat ex tincidunt ut. Sed viverra, elit at pulvinar tristique, sem
                    quam vehicula dolor, sed scelerisque augue mauris non dolor.</p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-mobile-alt fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">Title two of three-column</h2>
                <p class="tm-mb-50">Donec nec est tincidunt, rhoncus nulla sit amet, imperdiet augue. Phasellus
                    sodales placerat ipsum ac auctor. Mauris molestie blandit turpis. Mauris ante tellus, feugiat
                    nec metus non, bibendum semper velit.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="tm-about-3-col">
                <div class="tm-about-icon-container mb-5">
                    <i class="fas fa-photo-video fa-3x tm-text-primary"></i>
                </div>
                <h2 class="tm-text-primary mb-4">Third Title goes here</h2>
                <p class="mb-4">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Donec nec est tincidunt, rhoncus nulla sit amet, imperdiet augue. </p>
                <p>Phasellus sodales placerat ipsum ac auctor. Mauris molestie blandit turpis. Mauris ante tellus,
                    feugiat nec metus non, bibendum semper velit.</p>
            </div>
        </div>
    </div>
</div> <!-- container-fluid, tm-container-content -->

{% endblock %}