{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="{% static 'catalapp/images/hero.jpg' %}">
    <form id="search-form" class="d-flex tm-search-form" action="{% url 'catalapp:search_api' %}" method="get">
        <input id="search-button" class="form-control tm-search-input" type="search" name="q" placeholder="Search"
            aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-6 tm-text-primary">
            Latest Softwares
        </h2>
    </div>
    <div id="software-gallery-container" class="row tm-mb-90 tm-gallery">
        {% for item in page_obj %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">

                <img src="{{ item.images.url }}" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ item.name }}</h2>
                    <a href="{% url 'catalapp:softwaredetails' software_id=item.pk %}">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ item.date }}</span>
                <span>{{ item.views }} views</span>
            </div>
        </div>
        {% endfor %}
    </div>



</div> <!-- row -->
<!-- <div id="paginationContainer" class="row tm-mb-90">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
        <a href="#" id="prevPageLink" class="btn btn-primary tm-btn-prev mb-2">Previous</a>

        <div class="tm-paging d-flex" id="pageLinksContainer">
            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
            <a href="javascript:void(0);" class="active tm-paging-link">{{ num }}</a>
            {% else %}
            <a href="#" class="tm-paging-link pageLink">{{ num }}</a>
            {% endif %}
            {% endfor %}
        </div>

        <a href="#" id="nextPageLink" class="btn btn-primary tm-btn-next">Next Page</a>
    </div>
</div> -->
<div id="paginationContainer" class="row tm-mb-90">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col" id="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary tm-btn-prev mb-2">Previous</a>
        {% else %}
        <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
        {% endif %}

        <div class="tm-paging d-flex" id="paginationLinks">
            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
            <a href="javascript:void(0);" class="active tm-paging-link">{{ num }}</a>
            {% else %}
            <a href="?page={{ num }}" class="tm-paging-link">{{ num }}</a>
            {% endif %}
            {% endfor %}
        </div>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary tm-btn-next">Next Page</a>
        {% else %}
        <a href="javascript:void(0);" class="btn btn-primary tm-btn-next disabled">Next Page</a>
        {% endif %}
    </div>
</div>

<!-- <div id="paginationContainer" class="row tm-mb-90">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary tm-btn-prev mb-2">Previous</a>
        {% else %}
        <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
        {% endif %}

        <div class="tm-paging d-flex">
            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
            <a href="javascript:void(0);" class="active tm-paging-link">{{ num }}</a>
            {% else %}
            <a href="?page={{ num }}" class="tm-paging-link">{{ num }}</a>
            {% endif %}
            {% endfor %}
        </div>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary tm-btn-next">Next Page</a>
        {% else %}
        <a href="javascript:void(0);" class="btn btn-primary tm-btn-next disabled">Next Page</a>
        {% endif %}
    </div>
</div> -->

</div> <!-- container-fluid, tm-container-content -->
<script>
    document.getElementById('search-form').addEventListener('click', function (event) {
        event.preventDefault();
        var searchQuery = document.getElementById('search-button').value;

        // Check if search query is empty
        if (searchQuery.trim() === '') {
            // Make an AJAX request to the home API
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/catalog/api/search/');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var html = response.html;
                    var pagination = response.pagination;

                    document.getElementById('software-gallery-container').innerHTML = html;

                    if (pagination) {
                        var paginationLinks = '';
                        if (pagination.has_previous) {
                            paginationLinks += '<a href="?page=' + pagination.previous_page_number + '">Previous</a>';
                        }
                        for (var i = 0; i < pagination.page_range.length; i++) {
                            if (pagination.page_range[i] === pagination.current_page_number) {
                                paginationLinks += '<span class="active">' + pagination.page_range[i] + '</span>';
                            } else {
                                paginationLinks += '<a href="?page=' + pagination.page_range[i] + '">' + pagination.page_range[i] + '</a>';
                            }
                        }
                        if (pagination.has_next) {
                            paginationLinks += '<a href="?page=' + pagination.next_page_number + '">Next Page</a>';
                        } else {
                            paginationLinks += '<a href="javascript:void(0);" class="disabled">Next Page</a>';
                        }

                        document.getElementById('paginationLinks').innerHTML = paginationLinks;

                        // Disable pagination links if there are no more pages
                        if (!pagination.has_next) {
                            var nextLink = document.querySelector('.tm-btn-next');
                            nextLink.classList.add('disabled');
                            nextLink.removeAttribute('href');
                        }
                    }
                }
            };
            xhr.send();
        } else {
            // Make an AJAX request to the search API
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/catalog/api/search/?q=' + encodeURIComponent(searchQuery));
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var html = response.html;
                    var pagination = response.pagination;

                    document.getElementById('software-gallery-container').innerHTML = html;

                    if (pagination) {
                        var paginationLinks = '';
                        if (pagination.has_previous) {
                            paginationLinks += '<a href="?page=' + pagination.previous_page_number + '">Previous</a>';
                        }
                        for (var i = 0; i < pagination.page_range.length; i++) {
                            if (pagination.page_range[i] === pagination.current_page_number) {
                                paginationLinks += '<span class="active">' + pagination.page_range[i] + '</span>';
                            } else {
                                paginationLinks += '<a href="?page=' + pagination.page_range[i] + '">' + pagination.page_range[i] + '</a>';
                            }
                        }
                        if (pagination.has_next) {
                            paginationLinks += '<a href="?page=' + pagination.next_page_number + '">Next Page</a>';
                        } else {
                            paginationLinks += '<a href="javascript:void(0);" class="disabled">Next Page</a>';
                        }

                        document.getElementById('paginationLinks').innerHTML = paginationLinks;

                        // Disable pagination links if there are no more pages
                        if (!pagination.has_next) {
                            var nextLink = document.querySelector('.tm-btn-next');
                            nextLink.classList.add('disabled');
                            nextLink.removeAttribute('href');
                        }
                    }
                }
            };
            xhr.send();
        }
    });



    // document.getElementById('search-form').addEventListener('click', function (event) {
    //     event.preventDefault();
    //     var searchQuery = document.getElementById('search-button').value;

    //     // Make an AJAX request to the search API
    //     var xhr = new XMLHttpRequest();
    //     xhr.open('GET', '/catalog/api/search/?q=' + encodeURIComponent(searchQuery));
    //     xhr.onload = function () {
    //         if (xhr.status === 200) {
    //             var response = JSON.parse(xhr.responseText);
    //             var html = response.html;
    //             var pagination = response.pagination;

    //             document.getElementById('software-gallery-container').innerHTML = html;

    //             if (pagination) {
    //                 if (pagination.has_previous) {
    //                     document.getElementById('prevPageLink').href = '?page=' + pagination.previous_page_number;
    //                     document.getElementById('prevPageLink').classList.remove('disabled');
    //                 } else {
    //                     document.getElementById('prevPageLink').href = 'javascript:void(0);';
    //                     document.getElementById('prevPageLink').classList.add('disabled');
    //                 }

    //                 if (pagination.has_next) {
    //                     document.getElementById('nextPageLink').href = '?page=' + pagination.next_page_number;
    //                     document.getElementById('nextPageLink').classList.remove('disabled');
    //                 } else {
    //                     document.getElementById('nextPageLink').href = 'javascript:void(0);';
    //                     document.getElementById('nextPageLink').classList.add('disabled');
    //                 }

    //                 var pagingLinks = document.getElementsByClassName('pagingLink');
    //                 for (var i = 0; i < pagingLinks.length; i++) {
    //                     var pageLink = pagingLinks[i];
    //                     var pageNumber = pageLink.getAttribute('data-page');
    //                     if (pageNumber == pagination.current_page_number) {
    //                         pageLink.classList.add('active');
    //                     } else {
    //                         pageLink.classList.remove('active');
    //                         pageLink.href = '?page=' + pageNumber;
    //                     }
    //                 }
    //             }
    //         }
    //     };
    //     xhr.send();
    // });





</script>
{% endblock %}