{% extends 'base.html' %}
{% load static %}

{% block content %}



<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 12px;
        padding: 0 10px;
    }

    .rate:not(:checked)>input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked)>label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

    .rate:not(:checked)>label:before {
        content: '★ ';
    }

    .rate>input:checked~label {
        color: #ffc700;
    }

    .rate:not(:checked)>label:hover,
    .rate:not(:checked)>label:hover~label {
        color: #deb217;
    }

    .rate>input:checked+label:hover,
    .rate>input:checked+label:hover~label,
    .rate>input:checked~label:hover,
    .rate>input:checked~label:hover~label,
    .rate>label:hover~input:checked~label {
        color: #c59b08;
    }

    */

    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
    .fancy-title {
        font-family: 'Helvetica', sans-serif;
        font-size: 37px;
        font-weight: bold;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        background-color: #f3e2e2;
        padding: 20px;
        margin: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .elegant-dropdown {
        font-size: 20px;
        font-weight: bold;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        color: #333;
        width: 200px;
        /* Adjust the width as needed */
    }

    .elegant-dropdown:hover,
    .elegant-dropdown:focus {
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        color: #333;
    }

    .elegant-dropdown-menu {
        width: 300px;
        /* Adjust the width as needed */
        min-height: 200px;
        /* Adjust the minimum height as needed */
        padding: 20px;
        /* Adjust the padding as needed */
    }

    .elegant-progress {
        height: 20px;
        margin-bottom: 5px;
        border-radius: 0;
    }

    .elegant-progress .progress-bar {
        font-size: 16px;
        font-weight: bold;
        background-color: #007bff;
        color: #fff;
    }

    .elegant-progress .progress-bar::after {
        content: attr(aria-valuenow) "%";
        position: absolute;
        right: 10px;
    }

    .elegant-progress .progress-bar::before {
        content: attr(aria-valuenow);
        position: absolute;
        left: 10px;
    }

    .dropdown-item h4 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0;
    }
</style>

<div class="row tm-mb-90">

    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 ">
        <center><img src="{{ software.images.url }}" alt="Image" class="img-fluid rounded shadow-lg"
                style="max-width: 100%; height: auto;"></center>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-8 col-sm-12 order-lg-1">
        <div class="tm-bg-gray tm-video-details rounded-lg shadow-lg">
            <h1 style="font-family: 'Helvetica', sans-serif;
            font-size: 37px;
            font-weight: bold;
            color: #000000;
            text-transform: uppercase;
            text-align: center;
            background-color: #f3e2e2;
            padding: 20px;
            margin: 0;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); font-weight: bold;">{{ software.name}}</h1>
            <hr>
            <h3 class="tm-text-black-dark mb-1" style="font-size: 30px; font-weight: bold;">Details</h3>
            <ul>&#x2022;{{ software.information}}</ul>
            </p>
            <p>
            <h3 class="tm-text-black-dark mb-1" style="font-size: 30px; font-weight: bold;">Specification</h3>
            <ul>&#x2022; {{ software.features}}</ul>
            </p>
            <span class="tm-text-black-dark" style="font-size: 15px; font-weight: bold;">Version:</span>
            <span class="badge bg-primary" style="font-size: 15px">{{ software.version }}</span><br>

            <span class=" tm-text-black-dark" style="font-size: 15px; font-weight: bold;">Supported
                Systems:</span>
            <span class="badge bg-primary" style="font-size: 15px">{{ software.supported_systems}}</span><br>

            <hr>
            <div class="mb-4">
                <h3 class="tm-text-black-dark mb-1" style="font-size: 30px; font-weight: bold;">License</h3>

                <span class="badge bg-primary" style="font-size: 15px">Licensed @CUE</span>
            </div>
            <hr>
            <h3 class="tm-text-black-dark mb-1" style="font-size: 30px; font-weight: bold;">Subscription</h3>
            <div class="text-center mb-1">
                <a href="#" class="btn btn-primary tm-btn-big">Start Free trial</a>
            </div>
            <hr>
            <div class="mb-4">
                <h3 class="tm-text-black-dark mb-3" style="font-size: 30px; font-weight: bold;">Tags</h3>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">catalog</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">api</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">backend</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">database</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">project management</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">docs management</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">collaboration tool</a>
            </div>

            <hr>
            <h3 class="tm-text-black-dark mb-1" style="font-size: 30px; font-weight: bold;">Reviews And Ratings
            </h3>
            {% with rating=ratings.rating__avg %}
            <label
                style="font-family: 'Helvetica', sans-serif;font-size: 30px; font-weight: bold;">{{ratings.rating__avg}}</label>

            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" {% if rating == 5.0 %}checked{% endif %} />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" {% if rating == 4.0 %}checked{% endif %} />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" {% if rating == 3.0 %}checked{% endif %} />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" {% if rating == 2.0 %}checked{% endif %} />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" {% if rating == 1.0 %}checked{% endif %} />
                <label for="star1" title="text">1 star</label>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle elegant-dropdown" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ratings
                </button>
                <div class="dropdown-menu elegant-dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% for rating_data in rating_context %}
                    <div class="dropdown-item">
                        <h4 class="mb-2">{{ rating_data.rating }} Stars</h4>
                        <div class="progress elegant-progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ rating_data.percentage }}%;">
                            </div>
                        </div>
                        <p class="mb-0">{{ rating_data.count }} Votes ({{ rating_data.percentage|floatformat:2 }}%)</p>
                    </div>
                    {% endfor %}
                </div>
            </div>





            {% endwith %}









        </div>


    </div>
</div>
</div>
<!-- <p class="mb-4">
                <h3 class="tm-text-gray-dark mb-3">Info.:</h3>
                {{ software.information}}
                </p>
                <p>
                <h3 class="tm-text-gray-dark mb-3">Features:</h3>
                {{ software.features}}
                </p>
                <div class="mb-4 d-flex flex-wrap">
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Version: </span><span class="tm-text-primary">
                            {{ software.version}}</span><br>
                    </div>

                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Supported Systems: </span><span class="tm-text-primary">
                            {{ software.supported_systems}}</span>
                    </div>
                </div> -->
<!-- <div class="mb-4">
                    <h3 class="tm-text-gray-dark mb-3">License</h3>
                    <p>Licensed @CUE <a href="#">(for more information click here)</a></p>
                </div>
                <div class="text-center mb-5">
                    <a href="#" class="btn btn-primary tm-btn-big">Start Free trial</a>
                </div>
                <h3 class="tm-text-gray-dark mb-3">Reviews And Ratings</h3>
                <div class="container-fluid px-1 py-5 mx-auto">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                            <div class="card">
                                <div class="row justify-content-left d-flex">
                                    <div class="col-md-4 d-flex flex-column">
                                        <div class="rating-box">
                                            <h1 class="pt-4">4.0</h1>
                                            <p class="">out of 5</p>
                                        </div>
                                        <div> <span class="fa fa-star star-active mx-1"></span> <span
                                                class="fa fa-star star-active mx-1"></span> <span
                                                class="fa fa-star star-active mx-1"></span> <span
                                                class="fa fa-star star-active mx-1"></span> <span
                                                class="fa fa-star star-inactive mx-1"></span> </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="rating-bar0 justify-content-center">
                                            <table class="text-left mx-auto">
                                                <tr>
                                                    <td class="rating-label">Excellent</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-5"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">123</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Good</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-4"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">23</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Average</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-3"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">10</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Poor</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-2"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">3</td>
                                                </tr>
                                                <tr>
                                                    <td class="rating-label">Terrible</td>
                                                    <td class="rating-bar">
                                                        <div class="bar-container">
                                                            <div class="bar-1"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">0</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="row d-flex">

                                    <div class="d-flex flex-column">
                                        <h3 class="mt-2 mb-0">Ratings</h3>
                                        <div>
                                            <p class="text-left"><span class="text-muted">4.0</span> <span
                                                    class="fa fa-star star-active ml-3"></span> <span
                                                    class="fa fa-star star-active"></span> <span
                                                    class="fa fa-star star-active"></span> <span
                                                    class="fa fa-star star-active"></span> <span
                                                    class="fa fa-star star-inactive"></span></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">catalog</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">api</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">backend</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">database</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">project management</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">docs management</a>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">collaboration tool</a>
                    </div>

                </div>
            </div> -->
<!-- </div>
            <div class="row mb-4">
                <h2 class="col-12 tm-text-primary">
                    Related Softwares
                </h2>
            </div>
            <div class="row mb-3 tm-gallery">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-01.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Hangers</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">16 Oct 2020</span>
                        <span>12,460 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-02.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Perfumes</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">12 Oct 2020</span>
                        <span>11,402 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-03.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Clocks</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">8 Oct 2020</span>
                        <span>9,906 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-04.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Plants</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">6 Oct 2020</span>
                        <span>16,100 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-05.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Morning</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">26 Sep 2020</span>
                        <span>16,008 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-06.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Pinky</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">22 Sep 2020</span>
                        <span>12,860 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-07.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>Bus</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">12 Sep 2020</span>
                        <span>10,900 views</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="img/img-08.jpg" alt="Image" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>New York</h2>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light">4 Sep 2020</span>
                        <span>11,300 views</span>
                    </div>
                </div>
            </div> row
                    Leave the footer block empty to disable it -->
{% block footer %}

{% endblock %}
{% endblock %}